<table class="swidget-calander table" ng-cloak>
    <thead>
    <tr>
        <th class="swidget-heading" colspan="7">
            <h3>{{calender.month}} , {{ calender.year }}</h3>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default" ng-click="calender.prevMonth()">&larr; Prev Month</button>
                <button type="button" class="btn btn-default" ng-click="calender.today()">Today</button>
                <button type="button" class="btn btn-default" ng-click="calender.nextMonth()">&rarr; Next Month</button>
            </div>
            <div class="btn-group pull-left">
                <button type="button" class="btn btn-default" ng-click="calender.prevYear()">&larr; Previous Year</button>
                <button type="button" class="btn btn-default" ng-click="calender.nextYear()">&rarr; Next Year</button>
            </div>
        </th>
    </tr>
    </thead>
    <tbody id="swidget-calander-body">


    </tbody>

</table>