<table class="swidget-calander table" ng-cloak>
    <thead>
    <tr>
        <th class="swidget-heading" colspan="7">
            <h3>{{calender.month}} , {{ calender.year }}
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-prev" ng-click="calender.prevMonth()">&larr;</button>
                    <button type="button" class="btn btn-default btn-today" ng-click="calender.today()">Today</button>
                    <button type="button" class="btn btn-default btn-next" ng-click="calender.nextMonth()">&rarr;</button>
                </div>
            </h3>
        </th>
    </tr>
    </thead>
    <tbody id="swidget-calander-body">


    </tbody>

</table>